<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
        <title>Gator Life !</title>
    </head>
    <body>
        <header>
            <a href="/"><img src="/static/img/gatorlife_logo.png" alt="Gator.Life Logo" /></a>
            <h1 name="title">Gator.Life</h1>
            <h2 name="subtitle">The best of the web just for you {{email}} !</h2>
            {% if email is defined %}
                <a class="disconnect-link" href="/disconnect">Disconnect</a>
            {% endif %}
        </header>

        {% block body %} {% endblock %}

        <footer>&copy; Copyright 2016 by <a href="/">Gator.Life</a></footer>
    </body>
</html>
{% endautoescape %}