{% extends "base.html" %}
{% block body %}
    <section>
        <table>
            {% for elt in links %}
            <tr>
                <td class="up-vote"><a name="up-vote" href="/link/up_vote/{{ elt.key }}">Up</a></td>
                <td class="link" rowspan="2"><a name="link" href="/link/click_link/{{ elt.key }}">{{ elt.text }}</a></td>
            </tr>
            <tr>
                <td class="down-vote"><a name="down-vote" href="/link/down_vote/{{ elt.key }}">Down</a></td>
            </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
