{% extends "base.html" %}
{% block body %}
    <section>
        <table>
            {% for elt in links %}
            <tr>
                <td class="up-vote"><a name="up-vote" href="/link/{{ actions_mapping['up_vote'] }}/{{ elt.url_hash }}">Up</a></td>
                <td class="link" rowspan="2"><a name="link" href="/link/{{ actions_mapping['click_link'] }}/{{ elt.url_hash }}">{{ elt.text }}</a></td>
            </tr>
            <tr>
                <td class="down-vote"><a name="down-vote" href="/link/{{ actions_mapping['down_vote'] }}/{{ elt.url_hash }}">Down</a></td>
            </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
