{% extends "base.html" %}
{% block body %}
    <section>
        <form action="/register" method="post">
            <div class="error-message" name="error-message">{{ error_message }}</div>
            <table>
                <tr>
                    <td><label for="email">Email</label></td>
                    <td><input type="email" name="email" required></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" name="password" required></td>
                </tr>
                <tr>
                    <td><label for="interests">Interests</label></td>
                    <td><textarea name="interests" rows="10" cols="80" required></textarea></td>
                </tr>
                <tr>
                    <td><button name="register-button" type="submit">Register</button></td>
                </tr>
            </table>
        </form>
    </section>
{% endblock %}